---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<h1>Welcome to the Profile Page</h1>
    <ul>
        <li>Username</li>
        <li>First Name</li>
        <li>Last Name</li>
    </ul>
    <button>Log Out</button>
</Layout>
